<div class="container register-container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 align-stuff">
      <section class="form-elegant">
        <mdb-card class="register-card z-depth-2">
          <form
            [formGroup]="registerForm"
            (ngSubmit)="onSubmit()"
            class="text-center p-5"
          >
            <p class="h4 mb-4 text-design">
              <img src="/assets/img/registerlogo.png" alt="" />
            </p>

            <div class="row">
              <div class="col-md-6 register-username-email">
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label class="form-label">Username</mat-label>
                  <input matInput formControlName="username" required />
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                </mat-form-field>
              </div>
              <div class="col-md-6 register-username-email">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label class="form-label">Email</mat-label>
                  <input matInput formControlName="email" required />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 register-password">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label class="form-label">Password</mat-label>
                  <input matInput formControlName="password" required />
                </mat-form-field>
              </div>
              <div class="col-md-6 register-password">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label class="form-label">Confirm password</mat-label>
                  <input matInput formControlName="confirmPassword" required />
                </mat-form-field>
              </div>
            </div>
            <div
              *ngIf="username.invalid && username.touched"
            >
              <div
                class="alert alert-warning"
                *ngIf="username.errors.minlength"
                role="alert"
              >
                Username must be 3 or more characters.
              </div>
              <div
                class="alert alert-warning"
                *ngIf="username.errors.maxlength"
                role="alert"
              >
                Username must only contain 20 characters or less.
              </div>
              <div
                class="alert alert-warning"
                *ngIf="username.errors.required"
                role="alert"
              >
                Username is required.
              </div>
            </div>

            <div
              *ngIf="email.invalid && email.touched"
            >
              <div
                class="alert alert-warning"
                *ngIf="email.errors.email"
                role="alert"
              >
                Email is not valid.
              </div>
              <div
                class="alert alert-warning"
                *ngIf="email.errors.required"
                role="alert"
              >
                Email is required.
              </div>
            </div>
            <div
              *ngIf="password.invalid && password.touched"
            >
              <div
                class="alert alert-warning"
                *ngIf="password.errors.minlength || password.errors.pattern"
                role="alert"
              >
                Password has to be at least 9 characters, 1 numbers and 1
                capital letter.
              </div>
              <div
                class="alert alert-warning"
                *ngIf="password.errors.required"
                role="alert"
              >
                Password is required.
              </div>
            </div>
            <div
              class="alert alert-warning"
              *ngIf="registerForm.hasError('notSame')"
              role="alert"
            >
              Passwords do not match.
            </div>
            
            <!-- <div class="alert alert-warning" role="alert"></div> -->

            <div class="d-flex justify-content-around"></div>

            <button
              mdbBtn
              color="info"
              block="true"
              class="my-4"
              type="submit"
              [disabled]="!registerForm.valid"
            >
              Register
            </button>

            <p class="text-design">or sign in with:</p>

            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="facebook"></mdb-icon>
            </a>
            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="linkedin"></mdb-icon>
            </a>
            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="github"></mdb-icon>
            </a>
          </form>
        </mdb-card>
      </section>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<!-- 
<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
<div class="form-group">
    <label for="username">Username</label>
    <input type="text" formControlName="username" class="form-control" ngClass="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control" ngClass="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input type="email" formControlName="email" class="form-control" ngClass="{ 'is-invalid': submitted && f.email.errors }" />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">valid email is required</div>
    </div>
</div>
<div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Register
    </button>
</div>
</form> -->
