<div class="row category-bar">
  <div class="col-md-2">
    <div class="row text-center">
      <a href="">
        <div class="col-md-12">
          <mat-icon class="icon">games</mat-icon>
        </div>
        <div class="col-md-12">
          <p>Games</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row text-center">
      <a href="">
        <div class="col-md-12">
          <mat-icon class="icon">games</mat-icon>
        </div>
        <div class="col-md-12">
          <p>Games</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row text-center">
      <div class="col-md-12">
        <mat-icon class="icon">games</mat-icon>
      </div>
      <div class="col-md-12">
        <p>Games</p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row text-center">
      <div class="col-md-12">
        <mat-icon class="icon">games</mat-icon>
      </div>
      <div class="col-md-12">
        <p>Games</p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row text-center">
      <div class="col-md-12">
        <mat-icon class="icon">games</mat-icon>
      </div>
      <div class="col-md-12">
        <p>Games</p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row text-center">
      <div class="col-md-12">
        <mat-icon class="icon">games</mat-icon>
      </div>
      <div class="col-md-12">
        <p>Games</p>
      </div>
    </div>
  </div>
</div>
