.icon {
  height: 96px;
  width: 96px;
  font-size: 96px;
}

p {
    font-family: Russo, sans-serif;
    font-size: 20px;
}

a {
    color: #161b22;   
}

a:hover {
    color: rgb(54, 54, 54);
}

.category-bar {
    margin-top: 24px;
}