<div class="row">
  <div class="container align-bar">
    <div class="col-md-2">
      <div class="container">
        <a>
          <div class="box">
            <div class="row">
              <div class="col-md-12">
                <mat-icon class="icon-size">games</mat-icon>
              </div>
              <div class="col-md-12 text-center">Games</div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-2">
      <a>
        <div class="box"></div>
      </a>
    </div>

    <div class="col-md-2">
      <a>
        <div class="box"></div>
      </a>
    </div>

    <div class="col-md-2">
      <a>
        <div class="box"></div>
      </a>
    </div>

    <div class="col-md-2">
      <a>
        <div class="box"></div>
      </a>
    </div>

    <div class="col-md-2">
      <a>
        <div class="box"></div>
      </a>
    </div>
  </div>
</div>
