.icon-size {
    font-size: 65px;
    vertical-align: sub;
}

.box {
    background-color: red;
    width: 100%;
    height: 65px;
}

  .align-bar {
      flex: 1;
      display: flex;
      justify-content: space-between;
  }


