.toolbar {
  background: #161b22;
  color: white;
  max-height: 61px;
  min-height: 61px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

a {
  color: grey;
}

.font {
  font-family: "Russo", sans-serif;
  font-size: 20px;
}

.search-bar {
  margin-top: 24px;
  color: rgb(226, 226, 226);
  font-family: "Russo", sans-serif;
  width: 555px;
}

.align-navbar {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-button {
  margin-left: 40px;
  margin-right: 20px;
}

.icon-text {
  font-size: 500px;
  display: flex;
  align-items: center;
}

mdb-icon {
  font-size: 18px;
}

.align-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-button {
  width: 35%;
  border-color: rgb(226, 226, 226);
  border-style:solid;
}

.align-login-button {
  width: 30%;
  border-color: rgb(226, 226, 226);
  border-style:solid;
}

.login-text {
  margin-left: 10px;
}

.signup-text {
  margin-left: 12px;
}

.align-buttons {
  margin-left: 22px;
}

.dropdown-buttons {
  background-color: #161b22;
  color: white;
}

.dropdown-buttons:hover {
  background-color:  #457b9d;
}

::ng-deep .mat-menu-panel{
  background-color:#161b22;
}