<app-navbar></app-navbar>

<div class="container-fluid page-layout">
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <app-slideshow></app-slideshow>
          </div>
          <div class="col-md-4">
            <img src="/assets/img/home/step-by-step.png" alt="image" />
          </div>
        </div>
      </div>
      <div class="container-fluid">
          <app-categorybar></app-categorybar>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
