.page-layout {
    margin-top: 48px;
}

.box {
    width: 100%;
    height: 100%;
    height: 350px;
}


.box1 {
    width: 100%;
    height: 100%;
    height: 100px;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}